@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');

@layer base {
    body {
        @apply font-['IBM_Plex_Mono'];
        @apply text-[#93B1A6];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    transition: 0.25s;
}

.content-div:hover {
    background-image: url("assets/color183d3d.png") !important;
}